*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.sass-cache
.vagrant/
__pycache__
dist
core/settings/local.py
web/frontend/node_modules
web/media
web/static/CACHE
logs
env
venv
db.sqlite3
