<!DOCTYPE html>
<html>
<head>
  <style>
      a.button:hover {
      background-color: #7e2eff;
    }
  </style>
  <meta charset="utf-8">
  <title>Reset your Password</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">
 
  <div style="max-width: 850px; margin: 0 auto; background: white; padding: 20px; border-radius: 10px;">
    <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
      <img src="https://arndt-marcel.de/assets/img/videoflix/logo.png" alt="Videoflix Logo" style="width: 250px;">
    </div>
    <p style="color: #535456; font-size:1rem; line-height: 1.6;">Dear <span style="color: #2e3edf;">{{ username }}</span>,</p>
    <p style="color: #535456; font-size:1rem; line-height: 1.6;">We recently received a request to reset your password. If you made this request, please click on the following link to reset your password:</p>
    <p style="color: #535456; font-size:1rem; line-height: 1.6;">
      <a href="{{ reset_link }}"  style="background-color: #2e3edf; font-size:1.125rem ; font-weight: 600; color: white; padding: 12px 20px; text-decoration: none; border-radius: 24px;">
        Reset Password
      </a>
    </p>
    <p style="color: #535456; font-size:1rem; margin-bottom:16px;" >Please note that for security reasons, this link is only valid for 24 hours.</p>
    <p style="color: #535456; font-size:1rem; margin-bottom:16px;">If you did not request a password reset, please ignore this email.</p>
    <p style="color: #535456; font-size:1rem; margin-bottom:16px;">Best regards,</p>
    <p style="color: #535456; font-size:1rem; margin-bottom:16px;">Your Videoflix team</p>

  </div>
</body>
</html>